{{ define "header" }}
{{ partialCached "header.html" . }}
{{ end }}

{{ define "main" }}
	<main class="site-main section-inner thin animated fadeIn faster">
		<h1>{{ .Title }}</h1>
		{{- if .Content }}
		<div class="content">
			{{ .Content }}
		</div>
		{{- end }}
		{{- range .Data.Pages.GroupByDate "2006" }}
		<div class="posts-group">
			<div class="post-year" id="{{ .Key }}">{{ .Key }}</div>
			<ul class="posts-list">
				{{- range .Pages }}
				<li class="post-item">
					<a href="{{.Permalink}}">
						<span class="post-title">{{.Title}}</span>
						<span class="post-day">{{ .Date.Format .Site.Params.dateformShort }}</span>
					</a>
				</li>
				{{- end }}
			</ul>
		</div>
		{{- end }}

		<div style="text-align:center">
			<h1>Email Aboneliği</h1>
			<form method="POST" action="http://optin.sndlp.com/23Q/878/da630e83">
				Email: <input type="text" name="Fields[EmailAddress]" id="Fields_EmailAddress" value="" placeholder="mail@mail.com" /><br>
				Pazarlama İzinleri:<br>
				<input type="checkbox" name="Fields[CustomField2][]" id="Fields_CustomField2" value="Email" /> Email<br>
				<input type="checkbox" name="Fields[CustomField2][]" id="Fields_CustomField2" value="Direct mail" /> Doğrudan Mail<br>
				<input type="checkbox" name="Fields[CustomField2][]" id="Fields_CustomField2" value="Customized online advertising" /> Özel Tanıtımlar<br>
				İsim: <input type="text" name="Fields[CustomField1]" id="Fields_CustomField1" /><br>
				<input type="submit" name="Command" id="Command" value="Listeye Kaydol" />
				</form>
		</div>
	</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
