
:root {
  font-size: calc(0.2rem * (100vw - 400px));
  line-height: 1.5365;
  --blur: 2px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #333;
  padding: 1rem;
}
section {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}


main{
  z-index: 100;
  overflow-x: scroll;
}
blockquote {
  margin: 0 0.2em;
}
a{
  color: #333
}
footer{
  margin-bottom: 1rem;
}
legend:hover{
  --blur: 0px;
}
