
<section>

  <div>
    <h2>Education</h2>
    <ul>
      <li>
        (2020 / Bachelor's degree) Computer Science at University of the People
      </li>
      <li>
        (2015 - 2017 / Non-thesis Master's Degree) EdTech at Suleyman
        Demirel University
      </li>
      <li>(2008 - 2012 / Graduate) Fine Art Teaching at Pamukkale University</li>
    </ul>

    <h2>Experience</h2>
    <ul>
      <li>
        (Jan 2020 - ) Front End Developer <strong>RemoteTeam.com</strong>
      </li>
      <li>
        (Jan 2019 - Jan 2020) Front End Developer <strong>Mobiroller App Maker</strong>
      </li>
      <li>(July 2017 - 2017 Jun) Freelancer <strong>Upwork</strong></li>
      <li>(Feb 2016 - Jun 2017) Full Stack Web Developer <strong>Ertisya Software</strong></li>
      <li>(Nov 2015 - Feb 2016) Full Stack Web Developer <strong>Ihya Web Tech</strong></li>
      <li>(Mar 2013 - Jun 2014) Junior Web Developer <strong>ReachPod Social Media Management Tool</strong></li>
      <li>(Feb 2012 - Sep 2013) Junior Backend Developer <strong>Butigo</strong></li>
      <li>(Nov 2009 - Oct 2010) Intern <strong>Technoone</strong></li>
    </ul>

    <h2>Projects</h2>
    <ul>
      <li>
        <cite>
          <strong
          ><a
          rel="noopener noreferrer"
          target="_blank"
          href="https://fupio.com"
          >Fupio</a
          ></strong
          >
          A social network built on top of a blockchain based node.js app.
          Using <strong>PreactJS</strong> at the front end side.
        </cite>
      </li>
      <li>
        <cite>
          <strong
          ><a
          rel="noopener noreferrer"
          target="_blank"
          href="https://keepwords-com.firebaseapp.com/"
          >KeepWords</a
          >
        </strong>
        A micro tool that helps to keep the words which you just learned.
        Running on <strong>Firebase</strong> servers.
      </cite>
    </li>
    <li>
      <cite>
        <strong
        ><a
        rel="noopener noreferrer"
        target="_blank"
        href="https://github.com/mehmetkose/huhu"
        >Huhu</a
        ></strong
        >
        A script language, built for educational purposes.
      </cite>
    </li>
    <li>
      <cite>
        <strong
        ><a
        rel="noopener noreferrer"
        target="_blank"
        href="https://github.com/mehmetkose/boilerplate"
        >Boilerplate</a
        ></strong
        >
        Simple repo for building fast hybrid applications.
      </cite>
    </li>
    <li>
      <cite>
        <strong
        ><a
        rel="noopener noreferrer"
        target="_blank"
        href="https://github.com/mehmetkose/react-websocket"
        >react-websocket</a
        ></strong
        >
        Open sourced <strong>React</strong> package that helps to manage
        Websocket connections.</cite
        >
      </li>
    </ul>
    
  </div>

  <div>

    <h2>Organizations</h2>
    <ul>
      <li>
        <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://antalya.js.org"
        >JSAntalya</a
        >
        Organizer
      </li>
      <li>
        <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://www.meetup.com/codersAntalya/"
        >CodersAntalya</a
        >
        Co-Organizer
      </li>
      <li>
        <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://www.meetup.com/Antalya-language-exchange/"
        >Antalya Language Exchange</a
        >
        Co-Organizer
      </li>
    </ul>
    <h2>Talks</h2>
    <ul>
      <li>
        <a
        target="_blank"
        href="https://ozguryazilimgunleri.org.tr/2019/etkinlik-programi/"
        >(2019 - Ozgür Yazılım Günleri) ReactJS with
        <dfn>S.O.L.I.D</dfn> Principles</a
        >
      </li>
      <li>
        <a
        target="_blank"
        href="https://www.eventbrite.co.uk/e/gdg-devfest-antalya-17-registration-41019893606?aff=website"
        >(2017 - GDG ANTALYA) State Management in React ve Firebase Based
        Projects</a
        >
      </li>
      <li>
        <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://ab.org.tr/ab16/bildiri/250.pdf"
        >(2016 - Akademik Bilisim) Çocukların Yazılım Eğitimi için Yeni
        Bir Programlama Dili: Huhu</a
        >
      </li>
      <li>
        <a
        target="_blank"
        href="http://www.ozgurwebgunleri.org.tr/2013/etkinlik-programi/"
        >(2013 - Özgür Web Günleri) Tornado & Scalability</a
        >
      </li>
      <li>
        <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://ab.org.tr/ab13/ozet/313.html"
        >(2013 - Akademik Bilisim) Python Tornado Framework & NGINX Web
        Server</a
        >
      </li>
    </ul>

    
    


    <h2>Contributions</h2>
    <ul>
      <li>
        <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://github.com/preactjs/preact-www/pull/212"
        >Translated PreactJS documentation and website into Turkish</a
        >
        with a
        <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://github.com/ToplulukTR"
        >great community</a
        >.
      </li>
    </ul>

    <h2>Links</h2>
    <ul>
      <li>
        <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://github.com/mehmetkose"
        >Github</a
        >
      </li>
      <li>
        <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://www.npmjs.com/~mehmetkose"
        >NPM</a
        >
      </li>
      <li>
        <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://glitch.com/@mehmetkose"
        >Glitch</a
        >
      </li>
      <li>
        <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://twitter.com/mehmetkose"
        >Twitter</a
        >
      </li>
      <li>
        <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://mozillians.org/en-US/u/mehmetkose/"
        >Mozillians</a
        >
      </li>
      <li>
        <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://www.w3.org/users/116657"
        >W3C</a
        >
      </li>

      <li>
        <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://dribbble.com/mehmetkose"
        >Dribbble</a
        >
      </li>

      <li>
        <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://www.youtube.com/channel/UC8nI_OKx8eSdZavIwqAOrwg"
        >YouTube</a
        >
      </li>

      <li>
        <a
        href="https://mehmetkose.com.tr/blog/"
        >Blog</a
        >
      </li>
    </ul>



    <h2>Tags</h2>
    <ul>
      <li>
        <ins>Proggressive Web Applications</ins>
      </li>
      <li>ReactJS</li>
      <li><ins>Web Components</ins></li>
      <li>Websocket</li>
      <li>NodeJS</li>
      <li>Python</li>
    </ul>
    
  </div>
  

</section>



